<div>
  <h3> Lista zamówień realizowanych </h3>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>ClientId</th>
      <th>Data zamówienia</th>
      <th>Cena zamówienia</th>
      <th>Status zamówienia</th>
      <th></th>
      <th><button class="btn btn-primary" [routerLink]="['creator']">Dodaj nowe zamówienie</button></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let saleOrder of saleOrders">
      <td><strong>{{saleOrder.id}}</strong></td>
      <td>{{saleOrder.clientId}}</td>
      <td>{{saleOrder.dateOfOrder}}</td>
      <td>{{saleOrder.totalPrice}}</td>
      <td>{{getSaleOrderStatus(saleOrder.saleOrderStatus)}}</td>
      <td></td>
      <td>
        <div *ngIf="isItNew(saleOrder)">
          <button class="btn btn-info" (click)="payForSale(saleOrder)">Zapłać</button>
        </div>
        <div *ngIf="isItPaid(saleOrder)">
          <button class="btn btn-success" (click)="sendSale(saleOrder)">Wyslij</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
