<div>
  <h3 class="list-group-item list-group-item-action active bg-dark">Kreator zamówienia - dodawanie produktów</h3>
  <div class="form-control">
    <br>
    <div class="container">
      <div>
        <h4 class="text-center"><strong>Lista produktów w zamówieniu</strong></h4>
        <table class="table table-success table-bordered table-sm">
          <thead class="table-danger">
          <tr>
            <th class="text-center">#</th>
            <th class="text-center">Nazwa</th>
            <th class="text-center">Ilość</th>
            <th class="text-center">Cena</th>
            <th class="text-center">Do usunięcia</th>
            <th class="text-center">
              <button class="btn btn-success border-right" [disabled]="!hasProducts()" (click)="createSaleOrder()">
                Stwórz zamówienie
              </button>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let product of products">
            <td class="text-center">{{product?.id}}</td>
            <td class="text-center">{{product?.name}}</td>
            <td class="text-center">{{product?.quantity}}</td>
            <td class="text-center">{{getTotalPrice(product.price, product.quantity)}}</td>
            <td class="text-center">
              <input name="amountDel" class="form-control" ngModel required #amountDel="ngModel" placeholder="0">
            </td>
            <td class="text-center">
              <button class="btn btn-sm btn-danger" (click)="deleteProduct(product, amountDel.value)">Usuń</button>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="list-group">
          <a><strong>Zamawiąjący:</strong> {{client?.name}}</a>
          <a><strong>Suma zamówienia:</strong> {{saleOrder?.totalPrice}}</a>
        </div>
      </div>
      <div>
        <h4 class="text-center"><strong>Lista produktów w magazynie</strong></h4>
        <table class="table table-info table-bordered table-sm">
          <thead class="table-primary">
          <tr>
            <th class="text-center">#</th>
            <th class="text-center">Nazwa</th>
            <th class="text-center">Cena</th>
            <th class="text-center">Kategoria</th>
            <th class="text-center">Ilość</th>
            <th class="text-center">Do dodania</th>
            <th class="text-center"><input class="form-control" type="text" [(ngModel)]="searchText" placeholder="Szukaj"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let product of productsFromWarehouse | filter3: searchText ">
            <td class="text-center"><strong>{{product?.productId}}</strong></td>
            <td class="text-center">{{product?.name}}</td>
            <td class="text-center">{{product?.price}}</td>
            <td class="text-center">{{getCategory(product?.category)}}</td>
            <td class="text-center">{{product?.quantity}}</td>
            <td class="text-center">
              <input name="amount" class="form-control" ngModel required #amount="ngModel" placeholder="0">
            </td>
            <td class="text-center">
              <button class="btn btn-sm btn-info" (click)="addProductToSaleOrder(product, amount.value)">Dodaj</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
