<div>
  <h2 class="text-center">Kreator zamówienia - dodawanie produktów</h2>
  <br>
  <div>
    <div class="row">
      <div>
        <h3 class="text-center">Lista produktów w magazynie</h3>
        <table class="table table-info table-bordered table-sm">
          <thead class="table-primary">
          <tr>
            <th>#</th>
            <th>Nazwa</th>
            <th>Cena</th>
            <th>Kategoria</th>
            <th>Ilość</th>
            <th><input type="text" [(ngModel)]="searchText" placeholder="Szukaj"></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let product of productsFromWarehouse | filter3: searchText ">
            <td><strong>{{product.productId}}</strong></td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.category}}</td>
            <td>{{product.quantity}}</td>
            <td>
              <input name="amount" ngModel required #amount="ngModel" placeholder="0">
            </td>
            <td>
              <button class="btn btn-info" (click)="addProductToSaleOrder(product, amount.value)">--Dodaj--</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <span>*</span>
      <div>
        <h3 class="text-center">Lista produktów w zamówieniu</h3>
        <table class="table table-success table-sm">
          <thead class="table-danger">
          <tr>
            <th>#</th>
            <th>Ilość</th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let product of products">
            <td>{{product.productId}}</td>
            <td>{{product.quantity}}</td>
            <td></td>
            <td>
              <button class="btn btn-danger" (click)="deleteProduct(product)">Usuń produkt</button>
            </td>
          </tr>
          </tbody>
        </table>
        <h5>Zamawiąjący: {{client.name}}</h5>
        <h5>Suma zamówienia: {{saleOrder.totalPrice}}</h5>
        <button class="btn btn-success border-right" [disabled]="!hasProducts()" (click)="createSaleOrder()">Stwórz
          zamówienie
        </button>
      </div>
    </div>
  </div>
</div>
