<div>
  <h2 class="text-center">Kreator zamówienia - dodawanie produktów</h2>
  <br>
  <div>
    <div class="row">
      <div class="col-md-6 table-responsive-sm">
        <h3 class="text-center">Lista produktów w magazynie</h3>
        <table class="table table-info table-hover table-bordered table-sm">
          <thead class="table-primary">
          <tr>
            <th>Nazwa</th>
            <th>Cena</th>
            <th>Kategoria</th>
            <th>Ilość</th>
            <th><input type="text" [(ngModel)]="searchText" placeholder="Szukaj"></th>
            <th></th>
          </tr>
          </thead>
          <tbody class="table-sm">
          <tr *ngFor="let product of productsFromWarehouse | filter3: searchText ">
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.category}}</td>
            <td>{{product.quantity}}</td>
            <td>
              <input name="amount" ngModel required #amount="ngModel" placeholder="0">
            </td>
            <td>
              <button class="btn btn-info" (click)="addProductToSaleOrder(product, amount.value)">--Dodaj-- </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5 table-responsive-sm">
        <h3 class="text-center">Lista produktów w dostawie</h3>
        <table class="table table-success table-hover">
          <thead class="table-primary">
          <tr>
            <th>#</th>
            <th>Ilość</th>
            <th>
              <button class="btn btn-sm btn-success" [disabled]="!hasProducts()" (click)="createSaleOrder()">Stwórz dostawę
              </button>
            </th>
            <th></th>
          </tr>
          </thead>
          <tbody class="table-sm">
          <tr *ngFor="let product of products">
            <td>{{product.productId}}</td>
            <td>{{product.quantity}}</td>
            <td></td>
            <td>
              <button class="btn btn-danger" (click)="deleteProduct(product)">Usuń produkt</button>
            </td>
          </tr>
          </tbody>
        </table>
        <h5>Zamawiąjący: {{saleOrder.clientId}}</h5>
        <h5>Data zamówienia: {{saleOrder.dateOfOrder | date:'yyyy-MM-dd'}}</h5>
        <h5>Suma zamówienia: {{saleOrder.totalPrice}}</h5>
      </div>
    </div>
  </div>
</div>
