<nav class="navbar navbar-dark navbar-expand-xl bg-dark">
  <div class="navbar">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">*Magazyn*</a>
    </div>
    <ul class="nav navbar-nav nav-justified" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="/warehouseSectors">Sektory magazynu </a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/products">Produkty na magazynie </a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/deliveries">Dostawy do pobrania </a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/deliveries/history">Historia dostaw </a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/clients">Klienci </a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/saleOrders">Zamówienia realizowane</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/saleOrders/history">Historia zamówień</a></li>
    </ul>
  </div>
</nav>
<br>
