<div>
  <h3 class="list-group-item list-group-item-action active bg-dark"> Historia dostaw </h3>
  <table class="table table-striped text-center">
    <thead>
    <tr>
      <th>#</th>
      <th>Data</th>
      <th>Status</th>
      <th></th>
      <th><input class="form-control" type="text" [(ngModel)]="searchText" placeholder="Szukaj"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let delivery of deliveries | filter6: searchText">
      <td><strong>{{delivery.id}}</strong></td>
      <td>{{delivery.deliveryDate}}</td>
      <td>{{getDeliveryStatus(delivery.deliveryStatus)}}</td>
      <td></td>
      <td><button class="btn btn-info" [routerLink]="['details', delivery.id]"> Szczegóły </button></td>
    </tr>
    </tbody>
  </table>
</div>
