<div>
  <h3> Historia dostaw </h3>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>Data</th>
      <th>Status</th>
      <th></th>
      <th><input type="text" [(ngModel)]="searchText" placeholder="Szukaj"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let delivery of deliveries | filter6: searchText">
      <td><strong>{{delivery.id}}</strong></td>
      <td>{{delivery.deliveryDate}}</td>
      <td>{{delivery.deliveryStatus}}</td>
      <td></td>
      <td><button class="btn btn-info" [routerLink]="['details', delivery.id]"> Szczegóły </button></td>
    </tr>
    </tbody>
  </table>
</div>
