<div>
  <h3 class="list-group-item list-group-item-action active bg-dark"> Historia zamówień </h3>
  <table class="table table-striped text-center">
    <thead>
    <tr>
      <th>#</th>
      <th>Numer Klienta</th>
      <th>Data zamówienia</th>
      <th>Cena zamówienia</th>
      <th>Status zamówienia</th>
      <th></th>
      <th><input class="form-control" type="text" [(ngModel)]="searchText" placeholder="Szukaj"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let saleOrder of saleOrders | filter11: searchText ">
      <td><strong>{{saleOrder.id}}</strong></td>
      <td>{{saleOrder.clientId}}</td>
      <td>{{saleOrder.dateOfOrder}}</td>
      <td>{{saleOrder.totalPrice}}</td>
      <td>{{getSaleOrderStatus(saleOrder.saleOrderStatus)}}</td>
      <td></td>
      <td><button class="btn btn-info" [routerLink]="['details', saleOrder.id]"> Szczegóły </button></td>
    </tr>
    </tbody>
  </table>
</div>
