<div>
  <h2 class="text-center">Kreator nowego sektoru</h2>
  <div class="container">
  <form (ngSubmit)="createWarehouseSector(f)" #f="ngForm">
    <div class="form-group">
      <label for="name">Nazwa sektora:</label>
      <input [(ngModel)]="warehouseSector.name" placeholder="nazwa" name="name" class="form-control" id="name" required>
    </div>
    <div class="form-group">
      <label for="maxAmountOfProducts">Maksymalna pojemność sektoru:</label>
      <input [(ngModel)]="warehouseSector.maxAmountOfProducts" placeholder="0" name="maxAmountOfProducts" class="form-control" id="maxAmountOfProducts" required>
    </div>
    <button class="btn btn-success" [disabled]="!f.valid">Stwórz nowy sektor</button>
  </form>
  </div>
</div>
