<div>
  <h3 class="list-group-item list-group-item-action active bg-dark"> Klienci </h3>
  <table class="table table-striped text-center">
    <thead>
    <tr>
      <th>#</th>
      <th>Nazwa</th>
      <th>Firma</th>
      <th>Ulica</th>
      <th>Miasto</th>
      <th>Numer budynku</th>
      <th>Kod pocztowy</th>
      <th>Typ firmy</th>
      <th><input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Szukaj"></th>
      <th>
        <button class="btn btn-primary" [routerLink]="['add']">Dodaj nowego klienta</button>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let client of clients | filter7: searchText">
      <td><strong>{{client.id}}</strong></td>
      <td>{{client.name}}</td>
      <td>{{client.company}}</td>
      <td>{{client.deliveryAddress.street}}</td>
      <td>{{client.deliveryAddress.city}}</td>
      <td>{{client.deliveryAddress.buildingNumber}}</td>
      <td>{{client.deliveryAddress.zipCode}}</td>
      <td>{{getEnterpriseType(client.enterpriseType)}}</td>
      <td></td>
      <td>
        <button class="btn btn-info" [routerLink]="['details', client.id]">Informacje</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
