<div>
  <h2 class="text-center">Kreator nowego clienta</h2>
  <div class="container">
    <form (ngSubmit)="addClient(f)" #f="ngForm">
      <div class="form-group">
        <label for="name">Nazwa:</label>
        <input ngModel placeholder="nazwa" name="name" class="form-control" id="name" required>
      </div>
      <div class="form-group">
        <label for="company">Firma:</label>
        <input ngModel placeholder="company" name="company" class="form-control" id="company" required>
      </div>
      <div class="form-group">
        <label for="street">Ulica:</label>
        <input ngModel placeholder="street" name="street" class="form-control" id="street" required>
      </div>
      <div class="form-group">
        <label for="buildingNumber">Nr mieszkania:</label>
        <input ngModel placeholder="buildingNumber" name="buildingNumber" class="form-control" id="buildingNumber" required>
      </div>
      <div class="form-group">
        <label for="city">Miasto:</label>
        <input ngModel placeholder="city" name="city" class="form-control" id="city" required>
      </div>
      <div class="form-group">
        <label for="zipCode">Kod zip:</label>
        <input ngModel placeholder="zipCode" name="zipCode" class="form-control" id="zipCode" required>
      </div>
      <div class="form-group">
        <label for="enterpriseType">Typ firmy:</label>
        <select id="enterpriseType" name="enterpriseType" ngModel class="form-control" required>
          <option>SHOP</option>
          <option>PRIVATE_PERSON</option>
          <option>WHOLESALE</option>
          <option>SMALL_ENTERPRISE</option>
          <option>LARGE_ENTERPRISE</option>
        </select>
      </div>
      <button class="btn btn-success" type="submit" [disabled]="!f.valid">Create</button>
    </form>
  </div>
</div>
