<div>
  <h2>Sczegóły sektora [{{sectorName}}] - produkty</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Nazwa</th>
      <th>Cena</th>
      <th>Kategoria</th>
      <th>Opis</th>
      <th>Ilość</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products">
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.category}}</td>
    <td>{{product.description}}</td>
    <td>{{product.quantity}}</td>
    </tr>
    </tbody>
  </table>
</div>
