<div>
  <h3 class="list-group-item list-group-item-action active bg-dark">Szczegóły dostawy [{{delivery?.id}}] - produkty</h3>
  <a><strong>Status:</strong> {{getDeliveryStatus(delivery?.deliveryStatus)}} </a>
  <a> <strong>Data:</strong> {{delivery?.deliveryDate}}</a>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Nazwa</th>
      <th>Cena</th>
      <th>Ilość</th>
      <th>Kategoria</th>
      <th>Data produkcji</th>
      <th>Opis</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of delivery?.listOfProducts">
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.quantity}}</td>
      <td>{{getCategory(product.category)}}</td>
      <td>{{product.productionDate}}</td>
      <td>{{product.description}}</td>
    </tr>
    </tbody>
  </table>
</div>
