<div>
  <li class="row">
    <ul><h2>Szczegóły dostawy - produkty</h2></ul>
  </li>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Nazwa</th>
      <th>Cena</th>
      <th>Ilość</th>
      <th>Kategoria</th>
      <th>Data produkcji</th>
      <th>Kod</th>
      <th>Opis</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of delivery?.listOfProducts">
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.quantity}}</td>
      <td>{{product.category}}</td>
      <td>{{product.productionDate}}</td>
      <td>{{product.code}}</td>
      <td>{{product.description}}</td>
    </tr>
    </tbody>
  </table>
</div>
