<h1> Dane clienta</h1>

<h3>Nazwa: {{client?.name}}</h3>
<h3>Firma: {{client?.company}}</h3>
<h3>Typ firmy: {{client?.enterpriseType}}</h3>
<h3>Adres dostawy:</h3>
<h4>Miasto: {{client?.deliveryAddress?.city}}</h4>
<h4>Ulica: {{client?.deliveryAddress?.street}}</h4>
<h4>Numer budynku: {{client?.deliveryAddress?.buildingNumber}}</h4>
<h4>Kod pocztowy: {{client?.deliveryAddress?.zipCode}}</h4>

<h1> Statystyki clienta</h1>

<h3> Średnie kwowy zamówień:  {{averagePrice?.data[0].value2}}</h3>

<h3> Maksymalna kwota produktu: {{maxPrice?.data[0].value2}}</h3>

<h3> Produkty najczęściej kupowane: </h3>
<h3 *ngFor="let product of mostCommonlyPurchasedProducts?.data"> {{product.value1}} ilość {{product.value2}} </h3>

<h3> Najmniejsza cena jaką zapłacił za zamówienie: {{priceRange?.data[0].value2}} </h3>

<h3> Największa cena jaką zapłacił za zamówienie: {{priceRange?.data[1].value2}} </h3>

