<div>
  <h3> Produkty na magazynie </h3>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>SektorId</th>
      <th>Nazwa</th>
      <th>Kategoria</th>
      <th>Cena</th>
      <th>Ilość</th>
      <th><input type="text" [(ngModel)]="searchText" placeholder="Szukaj"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products | filter4: searchText">
      <td><strong>{{product.productId}}</strong></td>
      <td>{{product.sectorId}}</td>
      <td>{{product.name}}</td>
      <td>{{getCategory(product.category)}}</td>
      <td>{{product.price}}</td>
      <td>{{product.quantity}}</td>
      <td>
        <button class="btn btn-info" [routerLink]="['details', product.productId]">Informacje</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
