<div>
  <h3 class="list-group-item list-group-item-action active bg-dark"> Produkty na magazynie </h3>
  <table class="table table-striped text-center">
    <thead>
    <tr>
      <th>#</th>
      <th>Nazwa</th>
      <th>Kategoria</th>
      <th>Data produkcji</th>
      <th>Cena</th>
      <th>Ilość</th>
      <th><input class="form-control" type="text" [(ngModel)]="searchText" placeholder="Szukaj"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products | filter4: searchText">
      <td><strong>{{product.productId}}</strong></td>
      <td>{{product.name}}</td>
      <td>{{getCategory(product.category)}}</td>
      <td>{{product.productionDate}}</td>
      <td>{{product.price}}</td>
      <td>{{product.quantity}}</td>
      <td>
        <button class="btn btn-info" [routerLink]="['details', product.productId]">Informacje</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
