<div>
  <h3 class="list-group-item list-group-item-action active bg-dark"> Sektory magazynu </h3>
  <table class="table table-striped text-center">
    <thead>
    <tr>
      <th>Id</th>
      <th>Nazwa sektoru</th>
      <th>Maksymalna pojemność</th>
      <th>Ilość produktów na sektorze</th>
      <th></th>
      <th> <button class="btn btn-primary" [routerLink]="['add']">Dodaj nowy sektor</button></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let warehouseSector of warehouseSectors">
      <td><strong>{{warehouseSector.id}}</strong></td>
      <td>{{warehouseSector.name}}</td>
      <td>{{warehouseSector.maxAmountOfProducts}}</td>
      <td>{{warehouseSector.currentAmountOfProducts}}</td>
      <td></td>
      <td><button class="btn btn-info" [routerLink]="['details', warehouseSector.id]"> Szczegóły </button></td>
    </tr>
    </tbody>
  </table>
</div>
