<div>
  <h2 class="text-center">Kreator nowej dostawy</h2>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <form (ngSubmit)="addProductToDelivery(f)" #f="ngForm">
          <h3 class="text-center">Produkt</h3>
          <div class="form-group">
            <label for="name">Nazwa:</label>
            <input id="name" placeholder="nazwa" name="name" ngModel class="form-control" required>
          </div>
          <div class="form-group">
            <label for="price">Cena:</label>
            <input id="price" placeholder="0 PLN" name="price" ngModel class="form-control" required>
          </div>
          <div class="form-group">
            <label for="category">Kategoria:</label>
            <select id="category" name="category" ngModel class="form-control" required>
              <option *ngFor="let cat of categories">{{cat}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="productionDate">Data:</label>
            <input id="productionDate" placeholder="DD/MM/YYYY" name="productionDate" ngModel class="form-control" required>
          </div>
          <div class="form-group">
            <label for="description">Opis:</label>
            <input id="description" placeholder="opis..." name="description" ngModel class="form-control" required>
          </div>
          <div class="form-group">
            <label for="quantity">Ilość:</label>
            <input id="quantity" placeholder="0" name="quantity" ngModel class="form-control" required>
          </div>
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">Dodaj produkt</button>
        </form>
      </div>
      <div class="col-sm-8">
        <h3 class="text-center">Lista produktów w dostawie</h3>
        <table class="table table-warning table-bordered table-sm">
          <thead class="table-primary">
          <tr>
            <th class="text-center">Nazwa</th>
            <th class="text-center">Cena</th>
            <th class="text-center">Kategoria</th>
            <th class="text-center">Data</th>
            <th class="text-center">Opis</th>
            <th class="text-center">Ilość</th>
            <th class="text-center">Do usunięcia</th>
            <th class="text-center">
              <button class="btn btn-success" [disabled]="!hasProducts()" (click)="createDelivery()">Stwórz dostawę</button>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let product of products">
            <td class="text-center">{{product.name}}</td>
            <td class="text-center">{{product.price}}</td>
            <td class="text-center">{{getCategory(product.category)}}</td>
            <td class="text-center">{{product.productionDate | date:'yyyy-MM-dd'}}</td>
            <td class="text-center">{{product.description}}</td>
            <td class="text-center">{{product.quantity}}</td>
            <td class="text-center">
              <input name="amountDel" ngModel required #amountDel="ngModel" placeholder="0">
            </td>
            <td class="text-center">
              <button class="btn btn-danger btn-sm" (click)="deleteProduct(product, amountDel.value)">Usuń produkt</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
